{% extends "layout.html" %}



{% block title %}
<title>Admin Panel</title>
{% endblock %}




{% block menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
</ul>
{% endblock %}

{% block style %}
<style>
    .jumbotron {
        background-color: #e9ecef;
        background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(6, 68, 108, 0.2049194677871149) 100%);
    }

    .display-4 {
        font-size: 6rem;
        font-weight: 600;
        color: rgb(6, 68, 108);
    }

    .lead {
        font-weight: 600;
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    #warning {
        color: #a31600
    }
</style>
{% endblock %}


{% block body %}
<div class="jumbotron jumbotron-fluid text-center mb-5">
    <div class="container">
        <p class="lead">Total Registered Customers</p>
        <h1 class="display-4">{{no}}</h1>
    </div>
</div>

<div class="container text-center mb-5">
    <p class="title">Search Customers By Customer Ids</p>
    <form action="/admin_panel" method="POST">
        <input type="hidden" name="form_flag" value="search">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="given_id" placeholder="Enter Customer Id Here...."
                aria-label="Enter Customer Id Here" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

{% if flag==1 %} <!-- for show serch output -->
<div class="container text-center mt-3 mb-5" id="user">
    {% if user==0 %} <!-- if no data found -->
    <ul class="list-group list-group-flush mt-3">
        <li id="warning" class="list-group-item"><strong>No Customer Available for Customer Id : {{ id }}</li>
    </ul>
    {% else %} <!-- if data found -->
    <ul class="list-group list-group-flush mt-3">
        <li class="list-group-item"><strong>Customer Id : </strong>{{user.c_id}}</li>
        <li class="list-group-item"><strong>First Name : </strong>{{user.fname}}</li>
        <li class="list-group-item"><strong>Last Name : </strong>{{user.lname}}</li>
        <li class="list-group-item"><strong>Mobile No : </strong>{{user.contact}}</li>
        <li class="list-group-item"><strong>Email Id : </strong>{{user.email}}</li>
    </ul>
    <button class="btn btn-outline-danger mb-3 mt-2" type="button" data-toggle="modal" data-target="#exampleModal"
        id="search_btn"><b>Delete This Entry</b></button>
    {% endif %}
</div>
{% endif %}

{% if flag==2 %} <!-- for show delete output -->
<div class="container text-center mt-3 mb-5" id="user" display="none">
    <ul class="list-group list-group-flush mt-3">
        <li id="warning" class="list-group-item"><strong>Data removed for Customer Id : {{ id }}</li>
    </ul>
</div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This will permenently delete all data of customer for<br>Customer Id : {{ id }}<br>
                Are you still want to delete?
            </div>
            <div class="modal-footer">
                <form action="/admin_panel" method="POST">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancle</button>
                    <button type="submit" name="form_flag" value="delete" class="btn btn-outline-danger">Delete</button></form>
            </div>
        </div>
    </div>
</div>

{% endblock %}