{% extends "layout.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

<!-- --------------------------- -->
{% block style %}
<style>
  .jumbotron {
    background-color: #e9ecef;
    background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(6, 68, 108, 0.2049194677871149) 100%);
  }

  .display-4 {
    font-size: 4rem;
    font-weight: bold;
  }

  .btn {
    font-weight: 600;
    border-width: 2px;
  }

  #title-para {
    font-weight: 500;
    color: rgb(6, 68, 108);
  }

  .myfooter {
    background-color: #eaebec;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    position: fixed;
    z-index: 15;

  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
</style>
{% endblock %}

<!-- --------------------------- -->
{% block body %}
<div class="jumbotron text-center">
  <img src="{{ url_for('static', filename='main.png') }}" alt="logo" width="400" height="200">
  <!-- <h1 class="display-4 font-montserrat my-3 mx-auto title-color">Dispur Wireless</h1> -->
  <p class="lead" id="title-para">Assam’s largest wireless provider<br>
    Provides wireless voice and data communications services across Assam<br>To more than 9 million customers</p>
  <hr class="my-4">
  <a class="btn btn-outline-primary btn-lg m-2" href="/login" role="button">Login</a>
  <a class="btn btn-outline-dark btn-lg m-2" href="/register" role="button">Register</a>
</div>
{% endblock %}



